In [50]:
from pyspark.sql import *

In [51]:
spark = SparkSession.builder.appName("Dataframe").getOrCreate()
df_pyspark = spark.read.csv("test1.csv",header=True,inferSchema=True)
df_pyspark.show()

+---------+---+----------+
|     Name|age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+

In [52]:
df_pyspark.head(3)

[Row(Name='Krish', age=31, Experience=10),
 Row(Name='Sudhanshu', age=30, Experience=8),
 Row(Name='Sunny', age=29, Experience=4)]

In [53]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [54]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

**Selection of columns and indexing**

In [55]:
df_pyspark.show()

+---------+---+----------+
|     Name|age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+

In [56]:
df_pyspark.select("Name")

DataFrame[Name: string]

In [57]:
df_pyspark.select("Name").show()

+---------+
|     Name|
+---------+
|    Krish|
|Sudhanshu|
|    Sunny|
+---------+

In [58]:
df_pyspark["Name"].show()

TypeError: 'Column' object is not callable

In [59]:
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int')]

In [60]:
print(df_pyspark.describe())

DataFrame[summary: string, Name: string, age: string, Experience: string]

In [61]:
df_pyspark.describe().show()

+-------+-----+----+-----------------+
|summary| Name| age|       Experience|
+-------+-----+----+-----------------+
|  count|    3|   3|                3|
|   mean| NULL|30.0|7.333333333333333|
| stddev| NULL| 1.0|3.055050463303893|
|    min|Krish|  29|                4|
|    max|Sunny|  31|               10|
+-------+-----+----+-----------------+

**Add columns**

In [62]:
df_pyspark = df_pyspark.withColumn("Experience after two years",df_pyspark["Experience"]+2)
df_pyspark.show()

+---------+---+----------+--------------------------+
|     Name|age|Experience|Experience after two years|
+---------+---+----------+--------------------------+
|    Krish| 31|        10|                        12|
|Sudhanshu| 30|         8|                        10|
|    Sunny| 29|         4|                         6|
+---------+---+----------+--------------------------+

**Remove columns**

In [63]:
df_pyspark = df_pyspark.drop("Experience after two years")
df_pyspark.show()

+---------+---+----------+
|     Name|age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+

**Rename columns**

In [49]:
df_pyspark = df_pyspark.withColumnRenamed("Name","New Name")
df_pyspark.show()

+---------+---+----------+
| New Name|age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+