In [19]:
from pyspark.sql import *

**Building and Creating a new PySpark Session**

In [24]:
spark = SparkSession.builder.appName("Practise").getOrCreate()
df_pyspark = spark.read.csv("test1.csv")
print(df_pyspark)

DataFrame[_c0: string, _c1: string]

In [25]:
df_pyspark.show()

+---------+---+
|      _c0|_c1|
+---------+---+
|     Name|age|
|    Krish| 31|
|Sudhanshu| 30|
|    Sunny| 29|
+---------+---+

In [26]:
df_pyspark = spark.read.option("header","true").csv("test1.csv")
print(df_pyspark)

DataFrame[Name: string, age: string]

In [27]:
df_pyspark.show()

+---------+---+
|     Name|age|
+---------+---+
|    Krish| 31|
|Sudhanshu| 30|
|    Sunny| 29|
+---------+---+

In [28]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [32]:
df_pyspark.head(3)

[Row(Name='Krish', age='31'),
 Row(Name='Sudhanshu', age='30'),
 Row(Name='Sunny', age='29')]

In [33]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)